header h1 {
    position: static;
}

.form-control {width: 50%;}

.btn-primary {background-color: black;
                border: none;}

.container {padding: 30px;
    border: 5px rgb(228, 11, 11) dotted ;
}


.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    margin-left: auto;
}

.col p {
    flex: 1 0 0%;
    text-align: right;
}