header h1 {
    position: static;
}

.form-control {width: 50%;}

.btn-primary {background-color: black;
                border: none;}

.container {padding: 30px;
    border: 5px rgb(228, 11, 11) dotted ;
}

.form-control {border: 3px rgb(243, 232, 14) solid;}

.text-right {float: right;}

.btn-success {float: right;
}


/* .col-2.text-right {float: right;} */