<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <ul>
        <li><a href="/prueba">Prueba</a></li>
         <li><a href="/gigia">Gigi A</a></li>
          <li><a href="/gigib">Gigi B</a></li>
    </ul>
</nav>