.imgnav {width: 100px;
padding-left: 15px;}

body {background-color: pink;
        padding: 0;
    margin: 0;}

p {padding-left: 20px;
    padding-right: 20px;}

h1 {text-align: center;
padding-top: 25px;}



.container-fluid{padding-left: ;
padding-right: 0;
}

#about {
      padding-top: 50px ;
    padding-bottom: 50px; 
}

 #members {
    padding-top: 50px ;
    padding-bottom: 50px;
    
 }  

 #gallery {
     padding-top: 50px ;
     padding-bottom: 50px;
     border-top: 5px dashed palevioletred;
 }

 #news {padding-top: 50px;
        padding-bottom: 50px;
}

 #contact {padding-bottom: 50px;
            padding-top: 50px;
        border-top: 5px dashed palevioletred;}



#navbarpad {padding-left: 0;}

    

 