<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <div class="holder">
            <img src="/images/logo.png" alt="Emigrando a Alemania">
            <h1>Emigrando a Alemania</h1>
        </div>
    </header>
    {{{body}}}
     <footer>
        <p>Diseñado por Gigi Valle - &copy;año</p>
    </footer>
  </body>
</html>